<div class="improving">
  <p>Improving search <%= image_tag('ajax-loader.gif', alt: 'loader') %></p>
</div>

<%= image_tag('thumbs_up_color.png', id: 'thumb-up') %>
<%= image_tag('thumbs_down_color.png', id: 'thumb-down') %>

<div class="stream">
  <% @shoes.each do |shoe| %>
    <div class="shoe">
      <a href=<%= shoe["clickUrl"] %> target="_blank">
        <img class="shoe-pic" src=<%= shoe["image"]["sizes"]["IPhone"]["url"] %> >
      </a>
      <div class="button-container">
        <div class="thumbs" data-no-turbolink><%= image_tag('thumbs_up.png', alt: 'thumbs up', class: "thumbs-up") %></div>
        <div class="thumbs" data-no-turbolink><%= image_tag('thumbs_down.png', alt: 'thumbs down', class: "thumbs-down") %></div>
      </div>
    </div>
  <% end %>
</div>
