<div class="improving">
  <p>Improving search <%= image_tag('ajax-loader.gif', alt: 'loader') %></p>
</div>

<%= image_tag('thumbs_up_color.png', id: 'thumb-up') %>
<%= image_tag('thumbs_down_color.png', id: 'thumb-down') %>

<% unless @searches.nil? %>
  <div class="history">
    <%= form_tag('/search', method: 'get', class: 'search-new') do %>
      <%= label_tag :search, 'New search' %>
      <%= text_field_tag :search, params[:search], class: 'search-input-new', placeholder: 'black boots, etc' %>
      <%= hidden_field_tag :email, @email %>
      <%= submit_tag('Search', class: 'button search-submit-new') %>
    <% end %>
    <ul>
      <% @searches.each do |search| %>
          <li><%= link_to search,{ controller: 'home', action: 'search', search: search, email: @email } %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="stream">
  <% @shoes.each do |shoe| %>
    <div class="shoe">
      <a href=<%= shoe["clickUrl"] %> target="_blank">
        <img class="shoe-pic" src=<%= shoe["image"]["sizes"]["IPhone"]["url"] %> >
      </a>
      <div class="button-container">
        <div class="thumbs" data-no-turbolink><%= image_tag('thumbs_up.png', alt: 'thumbs up', class: "thumbs-up") %></div>
        <div class="thumbs" data-no-turbolink><%= image_tag('thumbs_down.png', alt: 'thumbs down', class: "thumbs-down") %></div>
      </div>
    </div>
  <% end %>
</div>
